* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;
}

/* ****************************** */
/* GENERAL REUSABLE STYLES */
/* ****************************** */

.container {
  max-width: 144rem;
  margin: 0 auto;
}

.content {
  width: 122rem;
  margin: 0 auto;
}

/* ****************************** */
/* HEADER */
/* ****************************** */

.header {
  background-color: #edf2ec;
  font-family: "Inika", serif;
  height: 13.4rem;
  display: flex;
  align-items: center;
}

.logo-box {
  margin-top: 0.17rem;
  margin-left: -0.2rem;
}

.logo-img {
  width: 2.55rem;
  height: 2.16rem;
}

.logo-text {
  font-size: 1.6rem;
  line-height: 21;
  color: #000000;
  margin-left: -0.41rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 122rem;
  height: 5rem;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  width: 45.2rem;
  list-style: none;
  margin-top: 0.13rem;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 312%;
  color: #010201;
}

.nav-link:hover,
.nav-link:active,
.nav-link__active:link,
.nav-link__active:visited {
  color: #e06733;
  font-weight: 700;
}

.nav-link__active {
  margin-left: 0.09rem;
}

/* ****************************** */
/* WELCOME SECTION */
/* ****************************** */

.section-welcome {
  height: 53.2rem;
  background-color: #edf2ec;
}

.welcome-content {
  display: flex;
  padding-top: 6.2rem;
}

.welcome-img {
  width: 46.2rem;
  height: 42.3rem;
  margin-top: -0.9rem;
  margin-left: -0.95rem;
}

.welcome-box {
  width: 54.9rem;
  height: 34rem;
  margin-left: 22rem;
  margin-top: 3.6rem;
}

.welcome-heading {
  color: #717171;
  font-size: 4.5rem;
  font-weight: 700;
  font-style: normal;
  line-height: 111%;
}

.welcome-heading__green-text {
  color: #499a18;
}

.welcome-text {
  font-size: 2rem;
  font-style: normal;
  line-height: 175%;
  color: #636060;
  margin-top: 4.37rem;
}

.welcome-btn {
  border: 2px solid #e06733;
  border-radius: 10px;
  margin-top: 4.75rem;
  text-transform: uppercase;
  color: #000000;
  font-size: 1.58rem;
  line-height: 1.7rem;
  padding: 1.15rem 2.48rem;
}

/* ****************************** */
/* ABOUT SECTION */
/* ****************************** */

.section-about {
  height: 66.6rem;
  background-color: #ffffff;
}

.about-content {
  display: flex;
  justify-content: space-between;
  padding-top: 9.3rem;
}

.about-box {
  width: 60.5rem;
  margin-top: 6.8rem;
  margin-left: -0.1rem;
  margin-right: -1rem;
}

.about-heading {
  width: 46.3rem;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 5.2rem;
  color: #499a18;
}

.about-heading__orange-text {
  color: #e06733;
}

.about-text {
  margin-top: 3.83rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  color: #636060;
}

.about-img {
  width: 46.35rem;
  height: 48rem;
}

/* ****************************** */
/* SERVICE SECTION */
/* ****************************** */

.section-service {
  height: 130rem;
  background-color: #edf2ec;
}

.service-content {
  padding-top: 4rem;
}

.service-box {
  display: flex;
  justify-content: space-between;
  width: 100.7rem;
}

.service-heading {
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 5.2rem;
  color: #499a18;
  width: 30.6rem;
  margin-left: -0.1rem;
}

.service-btn {
  background-color: #edf2ec;
  border: 1px solid #e06733;
  border-radius: 5px;
  margin-top: 2.93rem;
  width: 16.12rem;
  height: 4.95rem;
  margin-left: 3.5rem;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  color: #e06733;
  font-size: 2rem;
  line-height: 2.6rem;
  padding-top: 0.01rem;
}

.service-btn:nth-child(1) {
  letter-spacing: 0.008rem;
  padding-right: 0.49rem;
}

.service-btn:nth-child(3) {
  letter-spacing: 0.007rem;
  margin-right: 0.12rem;
  padding-right: 0.28rem;
}

.service-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 11.6rem;
  padding-top: 8rem;
  margin-right: -0.04rem;
  margin-left: -0.15rem;
}

.option-item {
  padding-bottom: 5.55rem;
}

.option-box {
  height: 9.8rem;
  border: 1px solid #e3e1d5;
  border-radius: 0 0 2rem 2rem;
}

.option-name {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.7rem;
  color: #e06733;
  text-align: center;
  margin: 1rem 0.08rem 1.5rem 0rem;
}

.option-item:nth-child(2) .option-box .option-name {
  margin-left: 0.35rem;
}

.option-item:nth-child(3) .option-box .option-name {
  margin-right: 0.25rem;
}

.option-item:nth-child(4) .option-box .option-name {
  margin-left: 0.24rem;
}

.option-item:nth-child(5) .option-box .option-name {
  margin-left: 0.17rem;
}

.option-item:nth-child(6) .option-box .option-name {
  margin-left: 0.25rem;
}

.option-text {
  text-align: center;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #717171;
}
